/* Active */
.active{
 border-width:0px;
 border-top-left-radius:40px;
 border-top-right-radius:40px;
 border-bottom-left-radius:40px;
 border-bottom-right-radius:40px;
 transform:translatex(0px) translatey(0px);
}

/* Body */
body{
 background-image:linear-gradient(141deg, #20322b 0%, #0f2028 100%);
 margin-top:34px;
 padding-top:31px;
 margin-bottom:0px;
 padding-bottom:37px;
}

/* Disclaimer */
.disclaimer{
 color:#ffffff;
}

/* Registration box */
.active .sb-main .btn-registration-box{
 color:#22c063 !important;
}

/* Login */
.active .sb-main .btn-login{
 transform:translatex(0px) translatey(0px);
 background-color:#22c063;
}

/* Image */
.active .sb-top-bar img{
 transform: translatex(164px);
 min-width:0px;
 min-height:0px;
 display:inline-block;
 width:196px;
}

